.button-component{
    background-image: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);
    box-sizing: border-box;
    width: 296px;
    border: none;
    height: 56px;
    border-radius: 6px ;
    color: white;
    font-weight: bold;
  margin-top: 30px;
}
