.recommended-item-container{
  background-color: rgba(35, 35, 35, 0.89);
  padding: 30px;
  box-sizing: border-box;
  width: 216px;
  height: 144px;
  .text{
    color: #FFCC21;
  }
  color: white;
}
